@import "tailwindcss";

:root {
  --accent-color: rgba(231, 87, 10, 0.973);
  --background-dark: #181717;
  --font-color-dark: #e6e3e3;
  --secondary-color-dark: #3a3a3a;
  --tertiary-color-dark: #797777;
  --font-secondary-dark:#adadad;

  --background: #181717;
  --foreground: #3a3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent-color);
  --color-background-dark: var(--background-dark);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-tertiary-dark: var(--tertiary-color-dark);
  --color-font-dark: var(--font-color-dark);
  --color-font-secondary-dark: var(--font-secondary-dark);

  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--font-color-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.lumibar-scroll {
  scrollbar-color: #AAA9A8 transparent;
}

.lumibar-scroll::-webkit-scrollbar {
  width: 10px;
}

.lumibar-scroll::-webkit-scrollbar-track {
  border-radius: 9999px;
  margin: 8px 0;
}

.lumibar-scroll::-webkit-scrollbar-thumb {
  background: #AAA9A8;
  border-radius: 9999px;
  min-height: 40px;
}

.lumibar-scroll::-webkit-scrollbar-thumb:hover {
  background: #ECECEC;
}
