@import "tailwindcss";

:root {
  --accent-color: rgba(231, 87, 10, 0.973);
  --background-dark: #181717;
  --font-color-dark: #DBDBDB;
  --secondary-color-dark: #2c2c2c;
  --tertiary-color-dark: #8a8989;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent-color);
  --color-background-dark: var(--background-dark);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-tertiary-dark: var(--tertiary-color-dark);
  --color-font-dark: var(--font-color-dark);

  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--font-color-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}